"""
Pre-commit hook configuration for SkillChain Pro
Install: pip install pre-commit
Setup: pre-commit install
Run: pre-commit run --all-files
"""
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

  - repo: https://github.com/psf/black
    rev: 23.10.0
    hooks:
      - id: black
        language_version: python3.10

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ['--max-line-length=120']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [javascript, typescript, jsx, tsx, css, json, yaml]
        exclude: 'node_modules|\.next'

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.52.0
    hooks:
      - id: eslint
        types: [javascript, typescript, jsx, tsx]
        additional_dependencies: ['eslint', '@typescript-eslint/parser', '@typescript-eslint/eslint-plugin']
        exclude: 'node_modules|\.next'
